nav {
  margin: 40px auto 27px;
  padding: 5px 0;
  background-color: #fff;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 10px;
  color: #706f6f;

  .input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #706f6f;

    input {
      text-align: center;
      padding: 5px 35px;
      outline: none;
      border: none;
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .card {
    margin: 25px;
    width: 230px;
    height: 350px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 700ms;
    border-radius: 10px;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 5px 10px #706f6f;
    }
    img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      overflow: hidden;
      object-fit: cover;
      box-shadow: 0 1px 10px rgb(211, 209, 209);
      border-radius: 50%;
    }
    .card-content {
      padding: 10px;
      .mail,
      .phone {
        font-size: 14px;
      }
      h4,
      h5,
      p {
        display: flex;
        align-items: flex-end;
      }
    }
    button {
      background-color: #c8aa8c;
      border: none;
      padding: 7px 15px;
      cursor: pointer;
      font-size: 12px;
      transition: 700ms;
      margin-left: 25px;
      a {
        text-decoration: none;
        transition: 700ms;
        color: #fff;
        &:hover {
          color: #c8aa8c;
        }
      }
      &:hover {
        transform: scale(0.9);
        box-shadow: 0 2px 5px #706f6f;
        background-color: #000;
      }
    }
  }
}
.card-footer {
  display: flex;
}
.icon {
  color: #c8aa8c;
  margin-right: 10px;
  font-size: 17px;
}

@media (max-width: 900px) {
  nav {
    h3 {
      font-size: 13px;
    }
  }
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    h3 {
      font-size: 18px;
    }
    input {
      width: 100%;
      margin: 5px;
    }
  }
}
