body {
  box-sizing: border-box;
  margin: 20px;
  background-color: #d6d5d3;
  letter-spacing: 0.03rem;
}
.star {
  transform: scale(1.5);
}
.btn {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 1px 5px #706f6f;
  border-radius: 5px;
  transition: 1000ms;
  a {
    text-decoration: none;
    transition: 1000ms;
    color: #c8aa8c;
  }
  &:hover {
    transform: scale(0.9);
    box-shadow: 0 5px 10px #706f6f;
    background-color: #000;
  }
}
